<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gIDIdentity">
            <h2><span>GID Identity</span> {{ gIDIdentity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Gid</span></dt>
                <dd>
                    <span>{{ gIDIdentity.gid }}</span>
                </dd>
                <dt><span>Pgid</span></dt>
                <dd>
                    <span>{{ gIDIdentity.pgid }}</span>
                </dd>
                <dt><span>Monickers</span></dt>
                <dd>
                    <div *ngIf="gIDIdentity.monickers">
                        <a [routerLink]="['/gid-moniker-set', gIDIdentity.monickers?.id, 'view']">{{ gIDIdentity.monickers?.id }}</a>
                    </div>
                </dd>
                <dt><span>Full Moniker Set</span></dt>
                <dd>
                    <div *ngIf="gIDIdentity.fullMonikerSet">
                        <a [routerLink]="['/gid-moniker-set', gIDIdentity.fullMonikerSet?.id, 'view']">{{ gIDIdentity.fullMonikerSet?.id }}</a>
                    </div>
                </dd>
                <dt><span>Standard Moniker Set</span></dt>
                <dd>
                    <div *ngIf="gIDIdentity.standardMonikerSet">
                        <a [routerLink]="['/gid-moniker-set', gIDIdentity.standardMonikerSet?.id, 'view']">{{ gIDIdentity.standardMonikerSet?.id }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="gIDIdentity.user">
                        <a [routerLink]="['/gid-user', gIDIdentity.user?.id, 'view']">{{ gIDIdentity.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gid-identity', gIDIdentity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
