<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gIDMonikerSet">
            <h2><span>GID Moniker Set</span> {{ gIDMonikerSet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>G ID Moniker</span></dt>
                <dd>
                    <span *ngFor="let gIDMoniker of gIDMonikerSet.gIDMonikers; let last = last">
                        <a [routerLink]="['/gid-moniker', gIDMoniker?.id, 'view']">{{ gIDMoniker.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gid-moniker-set', gIDMonikerSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
