<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gIDUser">
            <h2><span>GID User</span> {{ gIDUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ gIDUser.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ gIDUser.lastName }}</span>
                </dd>
                <dt><span>Monickers</span></dt>
                <dd>
                    <div *ngIf="gIDUser.monickers">
                        <a [routerLink]="['/gid-moniker-set', gIDUser.monickers?.id, 'view']">{{ gIDUser.monickers?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gid-user', gIDUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
