<div>
    <h2 id="page-heading">
        <span>GID Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gid-user" [routerLink]="['/gid-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new GID User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gIDUsers?.length === 0">
        <span>No gIDUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gIDUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="monikers.id"><span>Monikers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let gIDUser of gIDUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/gid-user', gIDUser.id, 'view']">{{ gIDUser.id }}</a></td>
                    <td>{{ gIDUser.firstName }}</td>
                    <td>{{ gIDUser.lastName }}</td>
                    <td>
                        <div *ngIf="gIDUser.monikers">
                            <a [routerLink]="['/gid-moniker-set', gIDUser.monikers?.id, 'view']" >{{ gIDUser.monikers?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/gid-user', gIDUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/gid-user', gIDUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gIDUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
