<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gIDMoniker">
            <h2><span>GID Moniker</span> {{ gIDMoniker.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Moniker</span></dt>
                <dd>
                    <span>{{ gIDMoniker.moniker }}</span>
                </dd>
                <dt><span>Prefix</span></dt>
                <dd>
                    <span>{{ gIDMoniker.prefix }}</span>
                </dd>
                <dt><span>User Of</span></dt>
                <dd>
                    <div *ngIf="gIDMoniker.userOf">
                        <a [routerLink]="['/gid-membership', gIDMoniker.userOf?.id, 'view']">{{ gIDMoniker.userOf?.id }}</a>
                    </div>
                </dd>
                <dt><span>User Of</span></dt>
                <dd>
                    <div *ngIf="gIDMoniker.userOf">
                        <a [routerLink]="['/gid-user', gIDMoniker.userOf?.id, 'view']">{{ gIDMoniker.userOf?.id }}</a>
                    </div>
                </dd>
                <dt><span>User Of</span></dt>
                <dd>
                    <div *ngIf="gIDMoniker.userOf">
                        <a [routerLink]="['/gid-identity', gIDMoniker.userOf?.id, 'view']">{{ gIDMoniker.userOf?.id }}</a>
                    </div>
                </dd>
                <dt><span>Contains</span></dt>
                <dd>
                    <div *ngIf="gIDMoniker.contains">
                        <a [routerLink]="['/gid-identity', gIDMoniker.contains?.id, 'view']">{{ gIDMoniker.contains?.id }}</a>
                    </div>
                </dd>
                <dt><span>Contains</span></dt>
                <dd>
                    <div *ngIf="gIDMoniker.contains">
                        <a [routerLink]="['/gid-identity', gIDMoniker.contains?.id, 'view']">{{ gIDMoniker.contains?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gid-moniker', gIDMoniker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
